/* Normalize */

html,
body {
    font-size: 15px;
    color: #333;
    background-color: #fefefe;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    margin: 0;
    padding: 0;
}


/* Page setup */

.home-container {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.break {
    padding: 1.5rem 2rem 2rem;
    text-align: center;
}


/* Headshot */

.headshot {
    padding: 0.5rem;
    margin: 4rem 0 1.75rem;
}

.headshot__img {
    width: 125px;
}


/* Text */

.text {
    padding: 0 2rem;
    margin: 0;
    text-align: justify;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.text__p:first-child {
    margin-top: 0;
}

.text__p:last-child {
    margin-bottom: 0;
}

.text__p--focus {
    font-weight: 800;
}


/* Links */

.links__list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.links__item {
    margin: 1rem;
}

.links__item:first-child {
    margin: 0 1rem 1rem;
}

.links__a {
    color: inherit;
    text-decoration: inherit;
    font-weight: 800;
    width: 180px;
    min-height: 50px;
    padding: 0.5rem;
    border: #333 solid 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 2px;
}


/* Footer for checksum */

.footer {
    margin: 1rem;
}

.footer__checksum {
    font-size: 0.7rem;
    font-style: italic;
}


/* Adjustments for small screens */

@media (max-width: 600px) {
    .home-container {
        justify-content: flex-start;
    }

    .text {
        text-align: left;
        hyphens: none;
    }

    .footer {
        /* No one verifies a checksum on mobile or tablet */
        display: none;
    }
}


/* Adjustments for mobile */

@media (max-aspect-ratio: 3/4) {
    .headshot {
        margin: 4rem 0 2rem;
    }

    .text__p {
        margin: 12px 0;
    }

    .break {
        margin: 1.5rem 0;
    }

    .links__list {
        padding-bottom: 4rem;
    }
}
