/* Normalize */

html,
body {
    font-size: 15px;
    color: #2a2725;
    background-color: #f7f4f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    margin: 0;
    padding: 0;
}


/* Page setup */

#scrollwork {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.home-container {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    z-index: 2;
}

.break {
    padding: 1.5rem 2rem 2rem;
    text-align: center;
}

/* Text */

.text {
    padding: 0 2rem;
    margin: 2rem 0 0;
    text-align: justify;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.text__p:first-child {
    margin-top: 0;
}

.text__p:last-child {
    margin: 0;
}

.text__p--link {
    color: inherit;
}

.signature {
    margin: 2rem 0 0.5rem;
    height: 3rem;
}


/* Footer for checksum */

.footer {
    margin: 0rem 2rem;
    padding: 0 0 2rem;
    text-align: left;
    
}

.footer__checksum {
    font-size: 0.7rem;
    color: #b8b0ac;
    font-style: italic;
}


/* Adjustments for small screens */

@media (max-width: 600px) {
    .home-container {
        justify-content: flex-start;
        padding: 0;
    }

    .text {
        text-align: left;
        hyphens: none;
    }

    .footer {
        /* No one verifies a checksum on mobile or tablet */
        display: none;
    }
}
